@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans';
}
body{
	background-image: url(img/fondo2.png);
	background-size: cover;
}
nav{
	max-width: 900px;
	margin: auto;
	font-size: 25px;
	margin-top: 50px;
}
.menu__horizontal{
	list-style: none;
	display: flex;
	justify-content: space-around;
}
.menu__horizontal > li > a{
	display: block;
	padding: 15px 20px;
	color: white;
	text-decoration: none;
}
.menu__horizontal > li:hover{
	background-color: rgba(21, 50, 211, 0.767);
}
.menu__vertical{
	position: absolute;
	display: none;
	list-style: none;
	width: 200px;
	background-color: rgba(0, 0, 0, .5);
}
.menu__horizontal li:hover .menu__vertical{
	display: block;
}
.menu__vertical li:hover{
	background-color: black;
}

.menu__vertical li a{
	display: block;
	color: white;
	text-decoration: none;
	padding: 15px 15px 15px 20px;
}

